.callout {
	padding: 0;
	background: rgb(var(--callout-color), 0.10);

	.callout-title {
		padding: var(--callout-padding);
		background: rgb(var(--callout-color), 0.10);
		border-radius: var(--callout-radius);
	}

	.callout-content {
		padding: var(--callout-padding);

		:first-child {
			margin-top: 0;
		}

		:last-child {
			margin-bottom: 0;
		}
	}
}

.markdown-rendered blockquote {
	padding: var(--callout-padding);
	border-radius: var(--callout-radius);
	background: rgb(var(--callout-quote), 0.10);

	cite {
		display: block;
	}
}

// live preview callouts
.markdown-source-view.mod-cm6.is-live-preview {
	.HyperMD-quote {
		padding: var(--callout-padding);
		border-radius: var(--callout-radius);
		--lt-callout-padding-size-start: 18px;
		--lt-callout-padding-size-end: var(--size-4-3);
		--lt-callout-padding-start: calc(var(--lt-callout-indent) * var(--lt-callout-padding-size-start));
		--lt-callout-padding-end: calc(var(--lt-callout-indent) * var(--lt-callout-padding-size-end));
		padding-inline-start: calc(var(--size-4-2) + var(--lt-callout-padding-start)) !important;
		background: rgb(var(--callout-quote), 0.10);

		:first-child {
			margin-top: 0;
		}

		:last-child {
			margin-bottom: 0;
		}
	}


	@for $i from 1 through 9 {
		.HyperMD-quote-#{$i} {
			--lt-callout-indent: #{$i};
		}

		// decrease padding on inner quote sections

		.HyperMD-quote-#{$i}:not(.HyperMD-callout) + .HyperMD-quote-#{$i}:not(.HyperMD-callout) {
			padding-top: 0;
		}

		.HyperMD-quote-#{$i}:not(.HyperMD-callout):has(+ .HyperMD-quote-#{$i}:not(.HyperMD-callout)) {
			padding-bottom: 0;
		}
	}

	// decrease padding on inner quote sections

	.HyperMD-quote:has(+ .HyperMD-quote) {
		border-radius: var(--callout-radius) var(--callout-radius) 0 0;
	}

	.HyperMD-quote + .HyperMD-quote {
		border-radius: 0 0 var(--callout-radius) var(--callout-radius);
	}

	.HyperMD-quote + .HyperMD-quote:has(+ .HyperMD-quote) {
		border-radius: 0;
	}




	// Callouts in live preview edit

	// callout header
	.HyperMD-quote.HyperMD-callout {
		padding: var(--callout-padding);
		border-radius: var(--callout-radius) var(--callout-radius) 0 0;
		font-weight: 600;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: calc((var(--lt-callout-indent) - 1) * var(--lt-callout-padding-size-start));
			right: calc((var(--lt-callout-indent) - 1) * var(--lt-callout-padding-size-end));
			background: rgb(var(--callout-quote), 0.10);
			z-index: -1;
			width: unset;
			border: none;
			border-radius: var(--callout-radius);
		}

		:first-child {
			margin-top: 0;
		}

		:last-child {
			margin-bottom: 0;
		}
	}

	// callout body
	.HyperMD-quote.HyperMD-callout + .HyperMD-quote {
		padding: var(--callout-padding);
		border-radius: 0 0 var(--callout-radius) var(--callout-radius);

		:first-child {
			margin-top: 0;
		}

		:last-child {
			margin-bottom: 0;
		}
	}

	.HyperMD-quote.HyperMD-callout + .HyperMD-quote:has(+ .HyperMD-quote) {
		border-radius: 0 0;
	}
}
