.view-content .graph-controls {
	border: none;
	background-color: var(--background-secondary);

	padding: var(--size-4-1);

	.graph-control-section.tree-item {
		border: none;
		padding: 0;

		.tree-item-self {
			padding: var(--size-4-2);

			&:hover {
				position: relative;

				.graph-control-section-header {
					color: var(--text-accent);
				}

				&:before {
					content: "";
					position: absolute;
					inset: 0;
					border-radius: var(--radius-s);
					background-color: var(--background-modifier-hover);
				}

				& + .tree-item-children {
					border-left: var(--nav-indentation-guide-width) solid var(--color-accent);
				}
			}

			&:has(+ .tree-item-children:hover) {
				.graph-control-section-header {
					color: var(--text-accent);
				}

				.tree-item-icon svg {
					color: var(--text-accent);
				}
			}
		}

		.tree-item-children {
			padding-right: var(--size-4-2);
			padding-left: var(--nav-item-children-padding-left);
			margin-left: var(--nav-item-children-margin-left);
			border-left: var(--nav-indentation-guide-width) solid var(--nav-indentation-guide-color);
			position: relative;


			&:hover {
				border-left: var(--nav-indentation-guide-width) solid var(--color-accent);
			}

			.setting-item {
				padding: var(--nav-item-padding);
			}
		}
	}
}
