.suggestion-container {
	border: none;
	background-color: var(--background-secondary);
}

.suggestion-item {
	color: var(--text-muted);

	.suggestion-highlight {
		color: var(--text-normal);
	}

	&.is-selected {
		color: var(--text-accent);

		.suggestion-highlight {
			color: var(--text-normal);
		}

		.suggestion-hotkey {
			color: var(--text-accent);
		}
	}
}
