.tree-item {
	.tree-item-self {
		padding-left: var(--size-4-2) !important;
		margin-left: 0 !important;

		&.mod-collapsible {
			padding-left: var(--size-4-6) !important;
		}

		.tree-item-inner {
			--lt-file-icon-color: var(--nav-item-color);
			color: var(--nav-item-color);
			transition: color 50ms;
		}

		.tree-item-icon svg {
			transition: color 50ms;
		}

		&.is-active {
			.tree-item-inner {
				--lt-file-icon-color: var(--nav-item-color-active) !important;
				color: var(--nav-item-color-active) !important;
			}
		}

		&:hover {
			.tree-item-inner {
				--lt-file-icon-color: var(--text-accent);
				color: var(--text-accent);
			}

			.tree-item-icon svg {
				color: var(--text-accent);
			}

			& + .tree-item-children {
				border-left: var(--nav-indentation-guide-width) solid var(--color-accent)
			}
		}
	}

	.tree-item-children {
		transition: border-left-color 50ms;

		& > :only-child {
			display: none;
		}
	}

	.tree-item-self:has(+ .tree-item-children > .tree-item > .tree-item-self:not(.mod-collapsible):hover),
	.tree-item-self:has(+ .tree-item-children > .tree-item.is-collapsed > .tree-item-self.mod-collapsible:hover) {
		.tree-item-inner {
			--lt-file-icon-color: var(--text-accent);
			color: var(--text-accent);
		}

		.tree-item-icon svg {
			color: var(--text-accent);
		}

		& + .tree-item-children {
			border-left: var(--nav-indentation-guide-width) solid var(--color-accent)
		}
	}
}


