@use "comment";
@use "style-settings";

@use "sass:list";
@use "sass:meta";
@use "sass:string";

@use "components/callout";
@use "components/canvas";
@use "components/file-tree";
@use "components/graph-view";
@use "components/line-numbers";
@use "components/modal";
@use "components/prompt";
@use "components/status-bar";
@use "components/suggester";
@use "components/table";
@use "components/titlebar";
@use "components/tree";

@use "plugins/plugins";

@function to_RGB_arguments($color) {
	@return red($color) + ", " + green($color) + ", " + blue($color);
}

$color-accent: hsl(46, 95%, 65%);
//$color-accent: #fad14f;

$dark-color-red: #ff6b81;
$dark-color-green: #7bed9f;
$dark-color-orange: #ff7f50;
$dark-color-yellow: $color-accent;
$dark-color-cyan: #70a1ff;
$dark-color-blue: #5352ed;
$dark-color-purple: #a882ff;
$dark-color-pink: #fa99cd;

$dark-color-base-00: #202020;
$dark-color-base-05: #242424;
$dark-color-base-10: #282828;
$dark-color-base-15: #2b2b2b;
$dark-color-base-20: #303030;
$dark-color-base-25: #383838;
$dark-color-base-30: #404040;
$dark-color-base-35: #484848;
$dark-color-base-40: #505050;
$dark-color-base-50: #707070;
$dark-color-base-60: #909090;
$dark-color-base-70: #a0a0a0;
$dark-color-base-80: #c0c0c0;
$dark-color-base-90: #e0e0e0;
$dark-color-base-100: #ffffff;

$gradient-pride: linear-gradient(to right, rgb(237, 34, 36), rgb(243, 91, 34), rgb(249, 150, 33), rgb(245, 193, 30), rgb(241, 235, 27) 27%, rgb(241, 235, 27), rgb(241, 235, 27) 33%, rgb(99, 199, 32), rgb(12, 155, 73), rgb(33, 135, 141), rgb(57, 84, 165), rgb(97, 55, 155), rgb(147, 40, 142));
$gradient-trans: linear-gradient(to right, rgb(85, 205, 252), rgb(179, 157, 233), rgb(247, 168, 184), rgb(246, 216, 221), rgb(255, 255, 255) 45%, rgb(255, 255, 255), rgb(255, 255, 255) 55%, rgb(246, 216, 221), rgb(247, 168, 184), rgb(179, 157, 233), rgb(85, 205, 252));
$gradient-lesbian: linear-gradient(to right, rgb(213, 44, 0), rgb(226, 150, 136), rgb(255, 255, 255) 45%, rgb(255, 255, 255), rgb(255, 255, 255) 55%, rgb(210, 127, 164), rgb(162, 2, 98));
$gradient-gay: linear-gradient(to right, rgb(7, 141, 111), rgb(152, 202, 153), rgb(255, 255, 255) 45%, rgb(255, 255, 255), rgb(255, 255, 255) 55%, rgb(205, 208, 234), rgb(123, 173, 226) 70%, rgb(69, 76, 189), rgb(63, 26, 121));
$gradient-non-bin: linear-gradient(to right, rgb(253, 219, 0), rgb(238, 212, 143), rgb(255, 255, 255) 30%, rgb(255, 255, 255), rgb(255, 255, 255) 36%, rgb(212, 181, 222), rgb(156, 92, 212), rgb(88, 50, 96), rgb(0, 0, 0));

body {
	--tab-outline-width: 0px;
	--modal-border-width: 0px;
	--prompt-border-width: 0px;
	--status-bar-border-width: 0px;

	--divider-width: 0px;
	--tab-divider-color: transparent;
	--tab-text-color-focused-active-current: var(--text-accent);
	--titlebar-background: var(--background-secondary-alt);

	--blockquote-background-color: rgb(var(--callout-quote), 0.10);
	--blockquote-border-thickness: 0px;
	--callout-radius: var(--radius-m);

	--embed-block-shadow-hover: 0 0 0 1px var(--color-accent);

	--nav-item-background-active: var(--color-accent);
	--nav-item-color-active: var(--text-on-accent);
	--nav-item-color-hover: var(--text-accent);
	--nav-item-children-padding-left: var(--size-4-2);
	--nav-item-padding: var(--size-4-1) var(--size-4-2) var(--size-4-1) var(--size-4-2);

	--icon-color-focused: var(--text-accent);
	--icon-color-active: var(--text-accent);
	--icon-color-hover: var(--text-accent);

	--status-bar-background: var(--background-secondary-alt);
	--status-bar-radius: 0px;
	--status-bar-position: unset;

	--indentation-guide-color-active: var(--text-accent);

	--list-bullet-border: 0px;
	--list-bullet-radius: 1px;
	--lt-list-bullet-height: 2px;
	--lt-list-bullet-width: 6px;

	--lt-file-icon-color: var(--text-faint);

	--lt-gradient-pride: #{$gradient-pride};
	--lt-gradient-trans: #{$gradient-trans};
	--lt-gradient-lesbian: #{$gradient-lesbian};
	--lt-gradient-gay: #{$gradient-gay};
	--lt-gradient-non-bin: #{$gradient-non-bin};


	/* Color mappings ------------------------ */
	/* Accent HSL values */
	//--accent-h: 46;
	//--accent-s: 96%;
	//--accent-l: 70%;

	--accent-h: #{hue($color-accent)}; //45
	//--accent-h: 100; //45
	--accent-s: #{saturation($color-accent)}; // 78%;
	--accent-l: #{lightness($color-accent)}; // 67%;

	/* Backgrounds */
	--background-primary: var(--color-base-00);
	--background-primary-alt: var(--color-base-10);
	--background-secondary: var(--color-base-20);
	--background-modifier-hover: rgba(var(--mono-rgb-100), 0.075);
	--background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.15);
	--background-modifier-border: var(--color-base-30);
	--background-modifier-border-hover: var(--color-base-50);
	--background-modifier-border-focus: var(--color-base-50);
	--background-modifier-error-rgb: var(--color-red-rgb);
	--background-modifier-error: var(--color-red);
	--background-modifier-error-hover: var(--color-red);
	--background-modifier-success-rgb: var(--color-green-rgb);
	--background-modifier-success: var(--color-green);
	--background-modifier-message: rgba(0, 0, 0, 0.9);
	/* Inputs */
	--background-modifier-form-field: var(--color-base-00);
	/* Text */
	--text-normal: var(--color-base-100);
	--text-muted: var(--color-base-70);
	--text-faint: var(--color-base-50);
	--text-on-accent: var(--color-base-00);
	--text-error: var(--color-red);
	--text-success: var(--color-green);
	--text-selection: hsl(0, 0%, 100%, 0.2);
	--text-accent: var(--color-accent);
	--text-accent-hover: var(--color-accent-2);
	--interactive-normal: var(--color-base-00);
	--interactive-hover: var(--color-base-10);
	--interactive-accent-hsl: var(--color-accent-hsl);
	--interactive-accent: var(--color-accent-1);
	--interactive-accent-hover: var(--color-accent-2);
}

.theme-dark {
	color-scheme: dark;
	--highlight-mix-blend-mode: lighten;

	--mono-rgb-0: 0, 0, 0;
	--mono-rgb-100: 255, 255, 255;

	--color-red-rgb: #{to_RGB_arguments($dark-color-red)};
	--color-red: #{$dark-color-red};
	--color-green-rgb: #{to_RGB_arguments($dark-color-green)};
	--color-green: #{$dark-color-green};
	--color-orange-rgb: #{to_RGB_arguments($dark-color-orange)};
	--color-orange: #{$dark-color-orange};
	--color-yellow-rgb: #{to_RGB_arguments($dark-color-yellow)};
	--color-yellow: #{$dark-color-yellow};
	--color-cyan-rgb: #{to_RGB_arguments($dark-color-cyan)};
	--color-cyan: #{$dark-color-cyan};
	--color-blue-rgb: #{to_RGB_arguments($dark-color-blue)};
	--color-blue: #{$dark-color-blue};
	--color-purple-rgb: #{to_RGB_arguments($dark-color-purple)};
	--color-purple: #{$dark-color-purple};
	--color-pink-rgb: #{to_RGB_arguments($dark-color-pink)};
	--color-pink: #{$dark-color-pink};

	--color-base-00: #{$dark-color-base-00};
	--color-base-05: #{$dark-color-base-05};
	--color-base-10: #{$dark-color-base-10};
	--color-base-15: #{$dark-color-base-15};
	--color-base-20: #{$dark-color-base-20};
	--color-base-25: #{$dark-color-base-25};
	--color-base-30: #{$dark-color-base-30};
	--color-base-35: #{$dark-color-base-35};
	--color-base-40: #{$dark-color-base-40};
	--color-base-50: #{$dark-color-base-50};
	--color-base-60: #{$dark-color-base-60};
	--color-base-70: #{$dark-color-base-70};
	--color-base-80: #{$dark-color-base-80};
	--color-base-90: #{$dark-color-base-90};
	--color-base-100: #{$dark-color-base-100};

	--color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
	--color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
	--color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 3.8%));
	--color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 3.8%));

	--background-modifier-form-field: var(--color-base-25);
	--background-secondary-alt: var(--color-base-25);
	--interactive-normal: var(--color-base-30);
	--interactive-hover: var(--color-base-35);
	--background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
	--background-modifier-cover: rgba(10, 10, 10, 0.4);
	--text-highlight-bg: rgba(255, 208, 0, 0.4);
	--text-highlight-bg-active: rgba(255, 128, 0, 0.4);
	--text-selection: rgba(#{to_RGB_arguments($dark-color-base-100)}, 0.2);
	--input-shadow: 0 0 0 0 transparent;
	--input-shadow-hover: 0 0 0 0 transparent;
	--shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 3.4px 6.7px rgba(0, 0, 0, 0.1), 0px 15px 30px rgba(0, 0, 0, 0.15);
	--shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.05), 0px 6.3px 24.7px rgba(0, 0, 0, 0.1), 0px 30px 90px rgba(0, 0, 0, 0.15);
}

body {
	--font-default: var(--font-monospace);
	--font-monospace-default: Menlo, SFMono-Regular, Consolas, "Roboto Mono", "Source Code Pro", monospace;
	--font-interface-override: "??";
	--font-interface-theme: "??";
	--font-interface: var(--font-interface-override), var(--font-interface-theme), var(--default-font, "??"), var(--font-default);
	--font-text-override: "??";
	--font-text-theme: "??";
	--font-text: var(--font-text-override), var(--font-text-theme), var(--font-interface);
	--font-monospace-override: "??";
	--font-monospace-theme: "??";
	--font-monospace: var(--font-monospace-override), var(--font-monospace-theme), var(--font-monospace-default);
	--font-text-size: 16px;
	--font-mermaid: var(--font-text);
}

body.theme-dark {
	--canvas-color: #{to_RGB_arguments($dark-color-base-40)};
	--lt-canvas-hover-color: #{to_RGB_arguments($dark-color-base-50)};
}

.workspace-split.mod-horizontal.mod-left-split .workspace-leaf {
	border-top-right-radius: var(--radius-l);
	border-bottom-right-radius: var(--radius-l);
}

.workspace-split.mod-horizontal.mod-right-split .workspace-leaf {
	border-top-left-radius: var(--radius-l);
	border-bottom-left-radius: var(--radius-l);
}

.workspace-tab-header {
	&:hover {
		color: var(--text-accent);

		.workspace-tab-header-inner-icon > svg {
			color: var(--text-accent);
		}

	}
}



.menu {
	border: none;
	background: var(--background-secondary-alt);

	.menu-item.selected {
		color: var(--text-accent);

		.menu-item-icon {
			color: var(--text-accent);
		}
	}

	.menu-item.is-warning.selected {
		color: var(--text-error);

		.menu-item-icon {
			color: var(--text-error);
		}
	}
}

// metadata
.metadata-container {
	.metadata-property:focus-within {
		box-shadow: 0 0 0 1px var(--color-accent);
	}

	//.metadata-property:hover:not(:focus-within) {
	//	box-shadow: 0 0 0 1px var(--color-accent);
	//}
}

// lists
.list-bullet:after {
	height: var(--lt-list-bullet-height);
	width: var(--lt-list-bullet-width);
}

.cm-active .cm-formatting.cm-formatting-list.cm-formatting-list-ul {
	color: var(--text-accent);
}

.cm-active .cm-formatting.cm-formatting-list.cm-formatting-list-ol {
	color: var(--text-accent);
}

.cm-active .list-bullet:after {
	background-color: var(--text-accent);
}

// headings

.markdown-source-view.is-live-preview {
	.HyperMD-header:not(:has(> .cm-formatting-header)) .cm-header {
		&:before {
			content: "# ";
			color: var(--text-faint);
		}
	}
}

.HyperMD-header.cm-active {
	.cm-formatting-header {
		color: var(--text-accent);
	}
}

.markdown-reading-view {
	@for $i from 1 through 6 {
		h#{$i} {
			&:before {
				content: "# ";
				color: var(--text-faint);
			}

			&:hover:before {
				$c: '#';
				@for $j from 1 to $i {
					$c: $c + '#'
				}

				content: "#{$c} ";
				color: var(--text-faint);
			}
		}
	}

	h1, h2, h3, h4, h5, h6 {
		&:before {
			content: "# ";
			color: var(--text-faint);
		}
	}
}

.markdown-rendered {
	// make heading top margin bigger
	h1, h2, h3, h4, h5, h6 {
		margin-top: 45px;
		margin-bottom: 15px;
	}

	// make headings that follow a higher heading have normal spacing
	@for $i from 2 through 6 {
		$h: "h1";
		@if $i > 2 {
			@for $j from 2 through $i - 1 {
				$h: $h + ", h#{$j}";
			}
		}

		div:has(> :is(#{$h})) + div > h#{$i} {
			margin-top: 15px;
		}
	}
}

// code blocks
pre {
	code[class*="language-"] {
		white-space: pre;
	}
}

// images

.view-content img:not(.emoji) {
	display: block;
	width: 100%;
}

.image-embed[alt]:not([alt$=".png"], [alt$=".jpg"], [alt$=".jpeg"], [alt$=".tiff"])::after {
	content: attr(alt);

	display: block;
	color: var(--text-muted);
	font-family: var(--font-interface);
	font-size: var(--font-smaller);
}

textarea, input[type="text"], input[type="search"], input[type="email"], input[type="password"], input[type="number"] {
	border: none;
}
