
@function to_RGB_arguments($color) {
	@return red($color) + ", " + green($color) + ", " + blue($color);
}

$color-accent: hsl(46, 95%, 65%);
//$color-accent: #fad14f;

$dark-color-red: #ff6b81;
$dark-color-green: #7bed9f;
$dark-color-orange: #ff7f50;
$dark-color-yellow: $color-accent;
$dark-color-cyan: #70a1ff;
$dark-color-blue: #5352ed;
$dark-color-purple: #a882ff;
$dark-color-pink: #fa99cd;

$dark-color-base-00: #202020;
$dark-color-base-05: #242424;
$dark-color-base-10: #282828;
$dark-color-base-15: #2b2b2b;
$dark-color-base-20: #303030;
$dark-color-base-25: #383838;
$dark-color-base-30: #404040;
$dark-color-base-35: #484848;
$dark-color-base-40: #505050;
$dark-color-base-50: #707070;
$dark-color-base-60: #909090;
$dark-color-base-70: #a0a0a0;
$dark-color-base-100: #ffffff;

body {
	--tab-outline-width: 0px;
	--modal-border-width: 0px;
	--prompt-border-width: 0px;
	--status-bar-border-width: 0px;

	--divider-width: 0px;
	--tab-divider-color: transparent;
	--tab-text-color-focused-active-current: var(--text-accent);
	--titlebar-background: var(--background-secondary-alt);

	--blockquote-background-color: rgb(var(--callout-quote), 0.10);
	--blockquote-border-thickness: 0px;
	--callout-radius: var(--radius-m);

	--embed-block-shadow-hover: 0 0 0 1px var(--color-accent);

	--nav-item-background-active: var(--color-accent);
	--nav-item-color-active: var(--text-on-accent);
	--nav-item-color-hover: var(--text-accent);

	--icon-color-focused: var(--text-accent);
	--icon-color-active: var(--text-accent);
	--icon-color-hover: var(--text-accent);

	--status-bar-background: var(--background-secondary-alt);
	--status-bar-radius: 0px;
	--status-bar-position: unset;

	--indentation-guide-color-active: var(--text-accent);

	--list-bullet-border: 0px;
	--list-bullet-radius: 1px;
	--lt-list-bullet-height: 2px;
	--lt-list-bullet-width: 6px;


	/* Color mappings ------------------------ */
	/* Accent HSL values */
	//--accent-h: 46;
	//--accent-s: 96%;
	//--accent-l: 70%;

	--accent-h: #{hue($color-accent)}; //45
	--accent-s: #{saturation($color-accent)};// 78%;
	--accent-l: #{lightness($color-accent)};// 67%;

	/* Backgrounds */
	--background-primary: var(--color-base-00);
	--background-primary-alt: var(--color-base-10);
	--background-secondary: var(--color-base-20);
	--background-modifier-hover: rgba(var(--mono-rgb-100), 0.075);
	--background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.15);
	--background-modifier-border: var(--color-base-30);
	--background-modifier-border-hover: var(--color-base-35);
	--background-modifier-border-focus: var(--color-base-40);
	--background-modifier-error-rgb: var(--color-red-rgb);
	--background-modifier-error: var(--color-red);
	--background-modifier-error-hover: var(--color-red);
	--background-modifier-success-rgb: var(--color-green-rgb);
	--background-modifier-success: var(--color-green);
	--background-modifier-message: rgba(0, 0, 0, 0.9);
	/* Inputs */
	--background-modifier-form-field: var(--color-base-00);
	/* Text */
	--text-normal: var(--color-base-100);
	--text-muted: var(--color-base-70);
	--text-faint: var(--color-base-50);
	--text-on-accent: var(--color-base-00);
	--text-error: var(--color-red);
	--text-success: var(--color-green);
	--text-selection: hsl(0, 0%, 100%, 0.2);
	--text-accent: var(--color-accent);
	--text-accent-hover: var(--color-accent-2);
	--interactive-normal: var(--color-base-00);
	--interactive-hover: var(--color-base-10);
	--interactive-accent-hsl: var(--color-accent-hsl);
	--interactive-accent: var(--color-accent-1);
	--interactive-accent-hover: var(--color-accent-2);
}

.theme-dark {
	color-scheme: dark;
	--highlight-mix-blend-mode: lighten;

	--mono-rgb-0: 0, 0, 0;
	--mono-rgb-100: 255, 255, 255;

	--color-red-rgb: #{to_RGB_arguments($dark-color-red)};
	--color-red: #{$dark-color-red};
	--color-green-rgb: #{to_RGB_arguments($dark-color-green)};
	--color-green: #{$dark-color-green};
	--color-orange-rgb: #{to_RGB_arguments($dark-color-orange)};
	--color-orange: #{$dark-color-orange};
	--color-yellow-rgb: #{to_RGB_arguments($dark-color-yellow)};
	--color-yellow: #{$dark-color-yellow};
	--color-cyan-rgb: #{to_RGB_arguments($dark-color-cyan)};
	--color-cyan: #{$dark-color-cyan};
	--color-blue-rgb: #{to_RGB_arguments($dark-color-blue)};
	--color-blue: #{$dark-color-blue};
	--color-purple-rgb: #{to_RGB_arguments($dark-color-purple)};
	--color-purple: #{$dark-color-purple};
	--color-pink-rgb: #{to_RGB_arguments($dark-color-pink)};
	--color-pink: #{$dark-color-pink};

	--color-base-00: #{$dark-color-base-00};
	--color-base-05: #{$dark-color-base-05};
	--color-base-10: #{$dark-color-base-10};
	--color-base-15: #{$dark-color-base-15};
	--color-base-20: #{$dark-color-base-20};
	--color-base-25: #{$dark-color-base-25};
	--color-base-30: #{$dark-color-base-30};
	--color-base-35: #{$dark-color-base-35};
	--color-base-40: #{$dark-color-base-40};
	--color-base-50: #{$dark-color-base-50};
	--color-base-60: #{$dark-color-base-60};
	--color-base-70: #{$dark-color-base-70};
	--color-base-100: #{$dark-color-base-100};

	--color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
	--color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
	--color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 3.8%));
	--color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 3.8%));

	--background-modifier-form-field: var(--color-base-25);
	--background-secondary-alt: var(--color-base-25);
	--interactive-normal: var(--color-base-30);
	--interactive-hover: var(--color-base-35);
	--background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
	--background-modifier-cover: rgba(10, 10, 10, 0.4);
	--text-highlight-bg: rgba(255, 208, 0, 0.4);
	--text-highlight-bg-active: rgba(255, 128, 0, 0.4);
	--text-selection: rgba(#{to_RGB_arguments($dark-color-base-100)}, 0.2);
	--input-shadow: 0 0 0 0 transparent;
	--input-shadow-hover: 0 0 0 0 transparent;
	--shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 3.4px 6.7px rgba(0, 0, 0, 0.1), 0px 15px 30px rgba(0, 0, 0, 0.15);
	--shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.05), 0px 6.3px 24.7px rgba(0, 0, 0, 0.1), 0px 30px 90px rgba(0, 0, 0, 0.15);
}

body {
	--font-default: var(--font-monospace);
	--font-monospace-default: Menlo, SFMono-Regular, Consolas, 'Roboto Mono', 'Source Code Pro', monospace;
	--font-interface-override: '??';
	--font-interface-theme: '??';
	--font-interface: var(--font-interface-override), var(--font-interface-theme), var(--default-font, '??'), var(--font-default);
	--font-text-override: '??';
	--font-text-theme: '??';
	--font-text: var(--font-text-override), var(--font-text-theme), var(--font-interface);
	--font-monospace-override: '??';
	--font-monospace-theme: '??';
	--font-monospace: var(--font-monospace-override), var(--font-monospace-theme), var(--font-monospace-default);
	--font-text-size: 16px;
	--font-mermaid: var(--font-text);
}

body.theme-dark {
	--canvas-color: #{to_RGB_arguments($dark-color-base-40)};
	--lt-canvas-hover-color: #{to_RGB_arguments($dark-color-base-50)};
}

.modal.mod-settings .vertical-tab-header {
	border: none;
	border-radius: var(--modal-radius);
}

.workspace-split.mod-horizontal.mod-left-split {

	.workspace-leaf {
		border-top-right-radius: var(--radius-l);
		border-bottom-right-radius: var(--radius-l);
	}
}

.workspace-split.mod-horizontal.mod-right-split .workspace-leaf {
	border-top-left-radius: var(--radius-l);
	border-bottom-left-radius: var(--radius-l);
}

.titlebar {
	.titlebar-button {
		svg {
			color: var(--text-muted);
		}

		&:hover {
			svg {
				color: var(--text-accent);
			}
		}

		&.mod-close:hover {
			svg {
				color: var(--text-normal);
			}
		}
	}
}

.nav-files-container {
	.nav-folder {
		.nav-folder-collapse-indicator svg {
			transition: color 100ms;
		}

		.nav-folder-title-content {
			transition: color 100ms;
		}

		.nav-folder-children {
			transition: border-left-color 100ms;
		}

		.nav-folder-title:not([data-path="/"]):hover {
			.nav-folder-collapse-indicator svg {
				color: var(--text-accent);
			}

			& + .nav-folder-children {
				border-left: var(--nav-indentation-guide-width) solid var(--color-accent)
			}
		}

		.nav-folder-title:not([data-path="/"]):has(+ .nav-folder-children > .nav-file:hover),
		.nav-folder-title:not([data-path="/"]):has(+ .nav-folder-children > .nav-file > .is-active),
		.nav-folder-title:not([data-path="/"]):has(+ .nav-folder-children > .nav-folder.is-collapsed:hover) {
			.nav-folder-collapse-indicator svg {
				color: var(--text-accent);
			}

			.nav-folder-title-content {
				color: var(--text-accent);
			}

			& + .nav-folder-children {
				border-left-color: var(--color-accent);
			}
		}
	}
}

.callout {
	padding: 0;
	background: rgb(var(--callout-color), 0.10);

	.callout-title {
		padding: var(--callout-padding);
		background: rgb(var(--callout-color), 0.10);
		border-radius: var(--callout-radius);
	}

	.callout-content {
		padding: var(--callout-padding);

		:first-child {
			margin-top: 0;
		}

		:last-child {
			margin-bottom: 0;
		}
	}
}

.markdown-source-view.mod-cm6.is-live-preview {
	.HyperMD-quote {
		padding: var(--callout-padding);
		border-radius: var(--callout-radius);
		--lt-callout-padding-size-start: var(--size-4-6);
		--lt-callout-padding-size-end: var(--size-4-3);
		--lt-callout-padding-start: calc(var(--lt-callout-indent) * var(--lt-callout-padding-size-start));
		--lt-callout-padding-end: calc(var(--lt-callout-indent) * var(--lt-callout-padding-size-end));
		padding-inline-start: var(--lt-callout-padding-start) !important;
		background: rgb(var(--callout-quote), 0.10);

		:first-child {
			margin-top: 0;
		}

		:last-child {
			margin-bottom: 0;
		}
	}

	.HyperMD-quote[style*="padding-inline-start:21"] {
		--lt-callout-indent: 1;
	}

	.HyperMD-quote[style*="padding-inline-start:39"] {
		--lt-callout-indent: 2;
	}

	.HyperMD-quote[style*="padding-inline-start:56"] {
		--lt-callout-indent: 3;
	}

	// decrease padding on inner quote sections

	.HyperMD-quote:has(+ .HyperMD-quote) {
		border-radius: var(--callout-radius) var(--callout-radius) 0 0;
	}

	.HyperMD-quote + .HyperMD-quote {
		border-radius: 0 0 var(--callout-radius) var(--callout-radius);
	}

	.HyperMD-quote + .HyperMD-quote:has(+ .HyperMD-quote) {
		border-radius: 0;
	}

	// decrease padding on inner quote sections

	.HyperMD-quote:not(.HyperMD-callout) + .HyperMD-quote:not(.HyperMD-callout) {
		padding-top: 0;
	}

	.HyperMD-quote:not(.HyperMD-callout):has(+ .HyperMD-quote:not(.HyperMD-callout)) {
		padding-bottom: 0;
	}


	// Callouts in live preview edit

	// callout header
	.HyperMD-quote.HyperMD-callout {
		padding: var(--callout-padding);
		border-radius: var(--callout-radius) var(--callout-radius) 0 0;
		font-weight: 600;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: calc((var(--lt-callout-indent) - 1) * var(--lt-callout-padding-size-start));
			right: calc((var(--lt-callout-indent) - 1) * var(--lt-callout-padding-size-end));
			background: rgb(var(--callout-quote), 0.10);
			z-index: -1;
			width: unset;
			border: none;
			border-radius: var(--callout-radius);
		}

		:first-child {
			margin-top: 0;
		}

		:last-child {
			margin-bottom: 0;
		}
	}

	// callout body
	.HyperMD-quote.HyperMD-callout + .HyperMD-quote {
		padding: var(--callout-padding);
		border-radius: 0 0 var(--callout-radius) var(--callout-radius);

		:first-child {
			margin-top: 0;
		}

		:last-child {
			margin-bottom: 0;
		}
	}

	.HyperMD-quote.HyperMD-callout + .HyperMD-quote:has(+ .HyperMD-quote) {
		border-radius: 0 0;
	}
}

.menu {
	border: none;
	background: var(--background-secondary-alt);

	.menu-item.selected {
		color: var(--text-accent);

		.menu-item-icon {
			color: var(--text-accent);
		}
	}

	.menu-item.is-warning.selected {
		color: var(--text-error);

		.menu-item-icon {
			color: var(--text-error);
		}
	}
}



.status-bar-item.mod-clickable:hover {
	background-color: var(--background-modifier-hover);
	color: var(--text-accent);
}

.markdown-source-view.mod-cm6 .cm-gutters .cm-lineNumbers {
	overflow: visible;

	.cm-gutterElement {
		position: relative;
		overflow: visible;

		&:before {
			content: "";
			position: absolute;
			border-right: 1px solid var(--background-secondary);
			top: 0;
			bottom: 0;
			right: calc(-1 * var(--size-2-3));
			left: 0;
		}
	}

	.cm-gutterElement.cm-active {
		color: var(--text-accent);

		&:before {
			border-right: 1px solid var(--color-accent);
		}
	}
}

.list-bullet:after {
	height: var(--lt-list-bullet-height);
	width: var(--lt-list-bullet-width);
}

.cm-active .list-bullet:after {
	background-color: var(--text-accent);
}

.cm-active .cm-formatting-list-ol {
	color: var(--text-accent);
}

.HyperMD-header:not(:has(> .cm-formatting-header)) .cm-header {
	&:before {
		content: "# ";
		color: var(--text-faint);
	}
}

.HyperMD-header.cm-active {
	.cm-formatting-header {
		color: var(--text-accent);
	}
}

.suggestion-container {
	border: none;
	background-color: var(--background-secondary);
}

.suggestion-item {
	color: var(--text-muted);

	.suggestion-highlight {
		color: var(--text-normal);
	}

	&.is-selected {
		color: var(--text-accent);

		.suggestion-highlight {
			color: var(--text-normal);
		}

		.suggestion-hotkey {
			color: var(--text-accent);
		}
	}
}

.prompt {
	background: var(--background-primary);

	.prompt-input-container {
		input.prompt-input {
			border: none;
			background-color: var(--background-secondary);
			border-radius: var(--radius-l);
		}
	}

	.prompt-results {

	}

	.prompt-instructions {
		position: relative;
		border: none;

		&:before {
			content: "";
			position: absolute;
			left: var(--size-4-4);
			right: var(--size-4-4);
			top: 0;
			height: 1px;
			background-color: var(--background-secondary);
		}

		.prompt-instruction {
			.prompt-instruction-command {
				color: var(--text-normal);
			}
		}
	}
}

.view-content .graph-controls {
	border: none;
	background-color: var(--background-secondary);

	padding: var(--size-4-1);

	.graph-control-section.tree-item {
		border: none;

		padding: 0;

		.tree-item-self {
			padding: var(--size-4-2);

			&:hover {
				position: relative;

				.graph-control-section-header {
					color: var(--text-accent);
				}

				&:before {
					content: "";
					position: absolute;
					inset: 0;
					border-radius: var(--radius-s);
					background-color: var(--background-modifier-hover);
				}
			}
		}

		.tree-item-children {
			padding: 0 var(--size-4-2) 0 var(--size-4-6);

			position: relative;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 12px;
				width: 2px;
				background-color: var(--background-modifier-border);
			}
		}
	}
}

.canvas-wrapper {
	--shadow-border-accent: none;


	.canvas-controls {
		.canvas-control-group {
			border: none;
			background-color: var(--background-secondary);
			box-shadow: var(--shadow-s);

			.canvas-control-item {
				border: none;
				background-color: transparent;

				&:hover {
					background-color: var(--background-modifier-hover);
					color: var(--text-accent);
				}
			}
		}
	}

	.canvas-menu {
		border: none;
		background: var(--background-secondary);
		box-shadow: var(--shadow-s);
	}

	.canvas {
		.canvas-edges {
			g {
				path.canvas-interaction-path {
					stroke-width: calc(24px * var(--zoom-multiplier));
					stroke: none;
				}

				path.canvas-display-path {
					stroke-width: calc(2px * var(--zoom-multiplier));
				}

				&.is-focused {
					path.canvas-display-path {
						stroke: var(--text-accent);
						stroke-width: calc(2px * var(--zoom-multiplier));
					}

					polygon.canvas-path-end {
						stroke: var(--text-accent);
						fill: var(--text-accent);
						stroke-width: calc(2px * var(--zoom-multiplier));
					}
				}

				&:hover {
					path.canvas-display-path {
						stroke-width: calc(2px * var(--zoom-multiplier));
					}
				}
			}
		}

		.canvas-node {
			&.is-selected, &.is-focused {
				.canvas-node-label {
					color: var(--text-accent)
				}
			}
			.canvas-node-container {
			}
		}
	}
}



textarea, input[type='text'], input[type='search'], input[type='email'], input[type='password'], input[type='number'] {
	border: none;
}
